.feed{
    width: 86%;
    min-height:90vh;
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    flex-wrap: wrap;
    margin-left:190px;
    /* padding-top: 50px; */
    padding: 50px 10px;
}
@media (max-width:550px) {
    .feed{
        width: 95%;
        margin-left: 10px;

    }
    
}
/* http://localhost:8000/ */