.navbar{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    /* border: 1px solid black; */
    position: sticky;
    top: 0px;
    background-color: white;
}
.logo{
    
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 6vh;
    /* border: 1px solid purple; */
    
    
    
   
    /* border: 1px solid green; */
    padding: 0 10px;
    
    
    
}
.logoimg{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    /* width: 20%;   */
}
.logo span{
    font-weight:bolder;
    font-variant:normal;
    
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0;
    padding: 0 5px;
}
.serachbar{
    /* width: 45%; */
    
    border: 1px solid rgb(152, 152, 152);
    height: 6vh;
    border-radius: 10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.serachbar input{
    border: none;
    width: 90%;
    border-radius: 10px ;
    height: 5vh;
    outline: none;
}
.serachbar button{
 
    height: 100%;
    border: none;
    width: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.signupbtn{
    width: 20%;
    /* border: 1px solid green; */
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
    
    
    gap: 20px;

}
.dotbtn{
    border: none;
    background: none;
    font-size: 15px;
}
.signupbtn button:nth-child(1){
    background: none;

    padding: 10px 8px;

    height: 35px;
    border-radius: 10px;
    border: 0.5px solid rgb(195, 195, 195);
    color: blue;
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-around;
}
@media (max-width:550px) {
    .signupbtn button:nth-child(2){
        background: none;
    
        padding: 8px 8px;
    
        height: 35px;
        border-radius: 10px;
        border: 0.5px solid rgb(195, 195, 195);
        color: blue;
        display: flex;
        align-items: center;
        font-size: 12px;
        justify-content: space-around;
    }
    .signupbtn{width: 25%;}
    .menuebar{
        display: block;
    }
    .signupbtn{
        /* border: 1px solid red; */
        width: 100px;
        /* justify-content: flex-start; */
        padding-left: 10px;
    }
    
}

.sidebar-item{
    display: flex;
    margin: 5px 0;
    gap: 10px;
    padding-left: 20px;
    padding: 5px 20px;
    
}

.sidebar-item:hover{
    background-color: aliceblue;
    border-radius: 10px;
}
.sidebar{
    /* box-shadow: 500px 2px 2000px 2000px rgba(0, 0, 0, 0.1); */

    display: flex;
    box-shadow: 25px;
    position: relative;
    top:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    left:-20px;
    /* border: 1px solid black; */
    overflow: hidden;
   
    padding-top: 10px;
    flex-direction: column;
    min-height: 90vh;
    width: 180px;

    background-color: rgb(255, 255, 255);
    animation-name: animation;
    animation-duration: 0.4s;
    
    
}
@keyframes animation{
    from{
        left:-1000px
    }
    to{
        left: -20px;

    }
}
.sidebar:hover{
    overflow-y: scroll;

}
::-webkit-scrollbar {
    width: 5px;}



::-webkit-scrollbar-track {

    background-color: rgb(228, 226, 226);
}

::-webkit-scrollbar-thumb {

    background-color: rgb(151, 151, 151);
}
hr{
    margin-top: 10px;
    border: 0.001px solid rgb(231, 231, 231);
    
}
.sidebar-body-item{
    padding: 5px 25px;
    font-size: 13px
}
.sidebar-body-item-div{
    padding-top: 5px;
    display: flex;
    align-items: center;
}
.sidebar-body-item-div button{
    background: none;

    padding: 0px 8px;
    gap: 10px;

    height: 30px;
    border-radius: 10px;
    border: 0.5px solid rgb(195, 195, 195);
    color: blue;
    display: flex;
    align-items: center;
    font-size: 13px;
    justify-content: space-around;

}
.searchbtn{
    width:50%;
    /* border: 1px solid red; */

    display:flex;
    justify-content: flex-end;
}
.searchbtn button{
    background: none;
    border:none;
    font-size: 20px;
}